@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SWAPI</h1>
    <form><input type="text" placeholder="Search..."><br>
    <button>Submit</button>
    </form>
    <p>This is a Test to Index the <a href="https://swapi.co">Star Wars API</a></p>
</div>
